@page "/gg"
@using Microsoft.AspNetCore.Components;
@using Microsoft.AspNetCore.Components.Routing
@using Microsoft.AspNetCore.Components.Web
@inject NavigationManager Navigation;

<h1>Добро пожаловать на сайт для заявок</h1>