@using Components.Pages
<Router AppAssembly="@typeof(Program).Assembly">
    <Found Context="routeData">
        <RouteView RouteData="@routeData" DefaultLayout="@typeof(Request)" />
    </Found>
    <NotFound>
        <LayoutView Layout="@typeof(Request)">
            <p>Страница не найдена</p>
        </LayoutView>
    </NotFound>
</Router>
